<div class="container review">
  <div class="row d-flex justify-content-between">
    <div class="col-5">
      <!-- Where reviews will be posted -->
      <h3>Reviews</h3>
      <hr>
      <% if @chalet.reviews.any? %>
        <% @chalet.reviews.each do |review| %>
          <h4><%= "â­" * review.rating %></h4 >
          <p><%= review.content %></p>
          <div class="user-review-delete">
            <p class="user-review">Posted by <%= review.user.first_name %></p>
            <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
          <hr>
        <% end %>
        <% else %>
        <p>Looks like no reviews have been made yet. Would you like to leave a review? ðŸ˜Ž</p>
      <% end %>
    </div>
    <!-- Where reviews form goes -->
    <div class="col-5 forms show-form">
      <h3>Leave a Review</h3>
      <%= simple_form_for [@chalet, @review] do |f| %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.input :content %>
        <%= f.submit value: "Submit Review", class:"btn btn-dark btn-block" %>
      <% end %>
    </div>
  </div>
</div>
