
<div class="row">
  <div class="col-11 offset-1">
    <div class="row">
      <div class="col-11" style="height: 300px;">
        <% @chalet.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 250, width: 250, crop: :fill %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= @chalet.description%><br>
        <%= @chalet.address %><br>
        <%= @chalet.number_of_guests %> people<br>
        <%= @chalet.number_of_bedrooms %> bedroom<br>
        £<%= @chalet.price %> per night
      </div>
      <div class="col-5">
        <%= simple_form_for [@chalet, @booking] do |f| %>
          <%= f.input :check_in_date %>
          <%= f.input :check_out_date %>
          <%= f.input :number_of_guests %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-6">
        <!-- Where reviews will be posted -->
        <h3>Reviews</h3>
        <% @chalet.reviews.each do |review| %>
          <h4><%= review.rating %></h4 >
          <p><%= review.content %></p>
          <br>
        <% end %>
      </div>
      <div class="col-5">
        <!-- Where reviews form goes -->
        <%= simple_form_for [@chalet, @review] do |f| %>
          <%= f.input :rating %>
          <%= f.input :content %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
