<div class="container chalet-title">
  <h1><%= @chalet.name%></h1>
</div>

<%= render "chalets/carousel" %>

<div class="container chalet-description">
  <div class="d-flex align-items-start justify-content-between">
    <div class="col-6">
      <h2><%= @chalet.address %></h2>
      <p><%= @chalet.description%></p>
    </div>
    <div class="col-5">
      <%= simple_form_for [@chalet, @booking], html: { class: 'w-100' } do |f| %>
        <%= f.input :check_in_date, html5: true %>
        <%= f.input :check_out_date, html5: true %>
        <%= f.input :number_of_guests %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<!-- Map -->
<div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<!-- Reviews -->

<%= render "chalets/review" %>
