<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header-dash">
        <h3>Hi  <%= @user.first_name %>, welcome to your dashboard!</h3>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 id='your-bookings'>Your bookings</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <%= "You have no bookings at Le Chalet yet" if @bookings.empty? %>
      <% @bookings.each do |booking| %>
          <div class="row">
            <div class="col-4">
              <div class="chalet-card">
                <%= link_to chalet_path(booking.chalet) do %>
                  <div class="chalet-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.chalet.photos.first.key, crop: :fill %>'); background-size: cover;"> <!-- scale, fit, fill, limit, pad, crop -->
                    <div class="beds-and-guests">
                      <span><%= booking.chalet.number_of_bedrooms %> <i class="fas fa-bed"></i></span>
                      <span><%= booking.chalet.number_of_guests %> <i class="fas fa-user-friends"></i></span>
                    </div>
                  </div>
                <% end %>
                <div class="chalet-card-description">
                  <div class="chalet-name">
                    <p><%= booking.chalet.name %></p>
                    <p><%= booking.chalet.address %></p>
                  </div>
                  <div class="chalet-price">
                    <p>£<%= booking.chalet.price %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
                <div class="booking-info">
                  <h3>Your booking at <%= booking.chalet.name %></h3>
                  <p class="booking-card-header">Dates</p>
                  <p><%= booking.check_in_date %> - <%= booking.check_out_date %> </p>
                  <p class="booking-card-header">Status</p>
                  <p><%= booking.status %></p>
                  <p class="booking-card-header">Message to owner</p>
                  <p> <%= booking.message %> </p>
                  <br>
                  <div class="d-flex justify-content-between">
                    <%= link_to booking_path(booking), remote: true, method: "delete" do %>
                      <button type="button" class="btn btn-secondary">Cancel request</button>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <h3>Your properties</h3>
  <br>
  <div class="row">
    <div class="col-12">
      <%= "You have no properties listed at Le Chalet currently" if @chalets.empty? %>
      <% @chalets.each do |chalet| %>
          <div class="row">
            <div class="col-4">
              <div class="chalet-card">
                <%= link_to chalet_path(chalet) do %>
                  <div class="chalet-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path chalet.photos.first.key, crop: :fill %>')"> <!-- scale, fit, fill, limit, pad, crop -->
                    <div class="beds-and-guests">
                      <span><%= chalet.number_of_bedrooms %> <i class="fas fa-bed"></i></span>
                      <span><%= chalet.number_of_guests %> <i class="fas fa-user-friends"></i></span>
                    </div>
                  </div>
                <% end %>
                <div class="chalet-card-description">
                  <div class="chalet-name">
                    <p><%= chalet.name %></p>
                  </div>
                  <div class="chalet-price">
                    <p>£<%= chalet.price %></p>
                  </div>
                </div>
                <div class="edit-icons">
                    <div class="d-flex justify-content-between bg-white">
                      <%= link_to edit_chalet_path(chalet) do %>
                        <i class="far fa-edit"></i>
                      <% end %>
                      <%= link_to chalet_path(chalet), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-8">
              <% if chalet.bookings.empty? %>
                <div class="">
                  <p></p>
                  <p><em>There are no booking for this property yet </em>😞 </p>
                </div>
              <% else %>
                <% chalet.bookings.each do |booking| %>
                  <div class="booking-info" id='property-booking'>
                    <h3>Booking request made for <%= chalet.name %></h3>
                    <p class="booking-card-header">Dates</p>
                    <p><%= booking.check_in_date %> - <%= booking.check_out_date %> </p>
                    <p class="booking-card-header">Status</p>
                    <p><%= booking.status %></p>
                    <p class="booking-card-header">Message to owner</p>
                    <p><%= booking.message %> </p>
                    <br>
                    <% if booking.status == 'Pending' %>
                      <div class="d-flex justify-content-between">
                        <%= link_to decline_path(booking), remote: true, method: "patch" do %>
                          <button type="button" class="btn btn-secondary">Reject</button>
                        <% end %>

                        <%= link_to approve_path(booking), remote: true, method: "patch" do %>
                          <button type="button" class="btn btn-success">Accept</button>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <br>
      <% end %>
    </div>
  </div>
</div>
